@import 'variables_and_mixins.scss';


* , body {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
p {
	font-family: $sans;
	font-size: 0.825rem;
	line-height: 2;
	color: $gray;
}
h1, h2, h3, h4, h5, h6 {
	color: $gray;
}
h3 {
	font-family: $museo;
	font-size: 1.75rem;
	color: $gray;
	font-weight: 300;
}
.zoneMenu {
	position: fixed;
}
.custom-code {
	position: relative;
}
.float-right {
	.row div {
		float: right;
	}
}
.relative {
	position: relative;
}

@import 'hero-images.scss';
@import 'modules.scss';









