@import 'modules.scss';@import 'variables_and_mixins.scss';
@import 'slideshow.scss';
@import 'hero-images.scss';



* , body {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
p {
	font-family: $sans;
	font-size: 0.825rem;
	line-height: 2;
	color: $gray;
}
h1, h2, h3, h4, h5, h6 {
	color: $gray;
}
h3 {
	font-family: $museo;
	font-size: 1.5rem;
	color: $dark-blue;
}
.zoneMenu {
	position: fixed;
}
.chapter-info {
	margin-top: 3rem;
	margin-bottom: 0;
	font-family: $museo;
	font-size: 1.1rem;
	font-weight: 300;
}
.chapter-title {
	color: $blue;
	font-family: $museo;
}
.section-title {
	font-family: $sans;
	text-transform: uppercase;
	font-size: 2.5rem;
	line-height: 1.25;
	margin: 0;
	padding-bottom: 1rem;
	border-bottom: 5px solid $blue;
	margin-bottom: 2rem;
}
.intro-image {
	width: 120%;
	transform: translateX(-10%);
}
.section-intro {
	margin-top: 15rem;
}










