@import 'variables_and_mixins.scss';


* , body {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
article {
	padding-bottom: 65px;
}
p {
	font-family: $sans;
	font-size: 0.825rem;
	line-height: 2;
	color: $gray;
}
h1, h2, h3, h4, h5, h6 {
	color: $gray;
}
h2 {
	font-family: $museo;
	font-size: 1.75rem;
	color: $gray;
	font-weight: 300;
	line-height: 1.35;
	margin-top: 0;
}
h3 {
	font-family: $museo;
	font-size: 1.5rem;
	color: $gray;
	font-weight: 300;
	line-height: 1.5;
}
h4 {
	font-family: $museo;
	font-size: 1.125rem;
	color: $koch-blue;	
	line-height: 1.2;
}
.topBlock {
	position: fixed;
}
.custom-code {
	//position: relative;
}
.float-right {
	.row div {
		float: right;
	}
	.full-image {
		background-position: right center;
	}
}
.relative {
	position: relative;
}
.uppercase {
	text-transform: uppercase;
}
.weight-300 {
	font-weight: 300;
}
.weight-500 {
	font-weight: 500;
	line-height: 2;
}
.blue {
	color: $blue;
}
.dark-blue {
	color: $dark-blue;
}
.koch-blue {
	color: $koch-blue;
}
.gray {
	color: $gray;
}
.light-gray {
	color: $light-gray;
}
.white {
	color: #fff;
	p,h2,h3,h4{
	    color: #fff; 
	}
}
.date {
	color: $blue; 
	font-family: $museo; 
	font-size: 18px;  
	line-height: 18px;
	margin: 0;
}
.h2-110 {
	h2 {
		width: 110%;
	}
}
.h2-120 {
	h2 {
		width: 120%;
	}
}
.h2-130 {
	h2 {
		width: 130%;
	}
}
.h2-140 {
	h2 {
		width: 140%;
	}
}
.h2-150 {
	h2 {
		width: 150%;
	}
}
.h3-110 {
	h3 {
		width: 110%;
	}
}
.h3-120 {
	h3 {
		width: 120%;
	}
}
.h3-130 {
	h3 {
		width: 130%;
	}
}
.h3-140 {
	h3 {
		width: 140%;
	}
}
.h3-150 {
	h3 {
		width: 150%;
	}
}

.v-align-outer {
  display:table;
  height:100%;
  width:100%;
}
.v-align-inner {
  display:table-cell;
  vertical-align:middle;
}

.center-text{
  text-align: center;
}
.text-noBG {
	&.Image_Feature_Full {
		.text-column {
			background-color: transparent;	
			color: #fff;
		}
		&.float-right {
			.text-column {
				padding-right: 0;
				margin-right: 0;
				margin-left: 3rem;
			}
		}
	}

}

.play-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 300;
  margin: .5rem auto;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  &.play-button-1 {
    color: #002D5B;
    border: 1px solid #00a8e1;
    background: #fff;;
    &::before {
      content: "\f04b";
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-35%, -50%);
      // width: 17px;
      // height: 32px;
      // margin: auto;
      font-size:1.563rem;
    }
    &:hover {
      background:#E5F9FF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
    }
    &:active {
      color: #fff;
      background: #00a8e1;
      box-shadow: inset 0 1px 3px 0 rgba(0,45,91,0.5);
    }
  }
}

@import 'hero-images.scss';
@import 'modules.scss';
@import 'custom-styles.scss';
@import 'footer.scss';









