#NetherlandstoTexas {
	.quanah-bg {
		background-image: url('/Timeline/media/kochTimeline/NetherlandsToTexas/QuanahMill-Elevator.jpg');
		background-size: cover;
		background-position: center center;
	}
}
//The Thesis 

#TheThesis {
	[id="4"].Image_Feature_Full {
		position: relative;
		bottom: 110px;
		margin-bottom: -195px;
		z-index: -1;
		.full-image {
			background-position: right;
		}
		.text-column {
			margin: 6rem 1rem;
		}
	}
	[id="268"] {
		.text-wrapper {
			margin-top: 11rem;
		}
	}
}
#CharlesdeGanahl {
	.Section_Description {
		position: relative;
		z-index: 2;
	}
	.telegram {
		img {
			width: 85%;
		}
		.text-wrapper {
			width: 33%;
			margin-left: 0;
		}
		.background {
			width: 100%;
			right: 0;
		}
	}
	.video-bg {
		background-image: url('/Timeline/media/kochTimeline/CharlesDeGanahl/Acme.jpg');
		background-size: cover;
		background-position: center bottom;
		padding-bottom: 23rem;
		padding-top: 0;
	}
	.brilliant {
		margin-bottom: -3rem;
	}
	.bio-video {
		margin-top: 0;
		position: relative;
		bottom: 200px;
		margin-bottom: -200px;
		// p {
		// 	width: 80%;
		// 	margin: 1rem auto;
		// }
		.text-column {
			margin-top: 232px;
		}
	}
}
#ABusinessisBorn {
	[id="32"] {
		.text-column {
			margin: 8rem 1rem 8rem 5.75rem;
		}
	}
	.short-lived {
		.text-column {
			margin-top: 8rem;
			margin-bottom: 8rem;
		}
	}
	.background-w-video {
		.text-column {
			margin-left: 16.667%;
		}
		
	}
}
#UphillBattle {
	.Section_Description {
		div.columns {
			margin-bottom: -5rem;
		}
	}
	[id="38"] {
		.text-column {
			margin-top: 0;
		}
	}
	.few-and-far {
		min-height: 900px;
		.full-image {
			min-height: 900px;
		}
	}
	.globe-oil {
		min-height: 900px;
		position: relative;
		bottom: 235px;
		margin-bottom: -235px;
		.full-image {
			min-height: 900px;
			background-position: right;
		}
		.text-column {
			margin-top: 300px;
			width: 145%;
		}
	}
}
#NewEndeavors {
	.float-right.wood-river {
		.text-column {
			margin-right: 0;
		}
		&.text-noBG {
			.text-column {
				padding: 0;
			}
		}
	}
	.ranching {
		.full-image {
			min-height: 720px;
			background-size: contain;
		}
		.text-column {
			margin-top: 6rem;
		}
	}
	.engineering {
		margin-top: 3rem;
		.full-image {
			background-size: contain;
			min-height: 630px;
		}
	}
	.pine-bend {
		.text-column {
			margin-bottom: 7rem;
		}
	}
}
#SterlingVarner {
	.Section_Description {
		div.columns {
			margin-bottom: -28rem;
		}
	}
	.life-of-varner {
		div.columns {
			margin-left: 25%;
			margin-bottom: -10rem;
		}
		.background {
			min-height: 275px;
			width: 180%;
			right: 40%;
		}
		h2 {
			margin-top: 4rem;
		}
	}
	.varner-for-president {
		.content p{
			width: 66.667%;
		}
	}
}
#TheHomecoming {
	.Section_Description {
		div.columns {
			margin-bottom: -5rem;
		}	
	}
	.phone-call {
		.text-column {
			margin: 7rem 1rem;
		}
	}
	.dear-boys {
		.text-column {
			margin: 9rem 0 9rem 3rem;
		}
	}
}
#AggressiveExploration {
	.Section_Description {
		div.columns {
			margin-bottom: -6rem;
		}	
	}
	.arrival {
		.image-wrapper, .text-wrapper {
			margin-bottom: -8rem;
		}
		
	}
	.getting-crude {
		.video-copy {
			background-color: #fff;
			padding: 2rem;
			width: 27%;
		}
		.background {
			margin: 5rem 0;
		}
	}
	.retail-gas {
		margin-bottom: -250px;
		.text-column {
			margin: 8rem 1rem;
			margin-right: 0;
		}
	}
	.pipeline {
		margin-bottom: -200px;
	}
	.global-image {
		background-image: url("/Timeline/media/kochTimeline/AggressiveExploration/Text_Module_White.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}
#CharlesKoch {
	.Section_Description {
		div.columns {
			margin-bottom: -40rem;
			position: relative;
			z-index: 1;
		}
	}
	.Image_Feature_Full{
		.full-image{
			.columns{
				display: flex;
				align-items: center;
				justify-content: center;
				height: 700px;
			}
		}
	}
	.Multi_Image_Feature {
		background-image: url("/Timeline/media/kochTimeline/CharlesKoch/Charles-DavidRanch1952.jpg");
		clear: none;
		// position: relative;
  //   	top: -230px;
  //   	z-index: -1;
	}
	.thermometer {
		.text-wrapper {
			margin: 4rem 0 2rem;	
		}
		h3 {
			font-size: 1.75rem;
			margin-bottom: 0;
		}
	}

}
#TimeofTransformation {
	.Section_Description {
		div.columns {
			margin-bottom: -6rem;
		}
	}
	.varner-quote {
		margin-bottom: -7rem;
		.text-column {
			margin-top: 6rem;
			margin-bottom: 6rem;
			margin-right: 5.75rem;
			padding: 2rem 0;
		}
	}
	.Video_Feature_2 {
		.video-copy {
			margin: 3rem 0;
			padding-left: 2.5rem;
		}
	}
	.bill-hanna {
		.text-column {
			margin: 4rem 0;
			margin-left: 5.75rem;
			.caption {
				color: #fff;
			}
		}
	}
	.medford {
		.text-column {
			margin: 7rem 2.75rem;
		}

	}
}
#ANewFoundation {
	.Section_Description {
		div.columns {
			margin-bottom: -5rem;
		}
	}
	.Image_Feature_9 {
		.text-wrapper {
			margin-left: 0;
		}
	}
}
#DavidKoch {
	.Section_Description {
		div.columns {
			margin-bottom: -5rem;
		}
	}
	.david-track {
		div.columns {
			margin-bottom: -5rem;
		}
	}
	.david-bio {
		.image-wrapper {
			margin: 5rem 0;
			padding-left: 16.667%;
			margin-bottom: -10rem;
		}
		.text-wrapper {
			margin-top: 0;
			margin-bottom: 0;
			background-color: #fff;
			padding: 2rem;
			width: 27%;
			margin-bottom: -10rem;
		}
	}
	.moeller-video {
		padding: 0;
		padding-bottom: 10rem;
		.background {
			right: 15%;
			height: 125px;
			width: 200px;
		}
	}
	.Multi_Image_Feature {
		background-image: url("/Timeline/media/kochTimeline/DavidKoch/dinosaur.jpg");
		padding-bottom: 40rem;
		margin-bottom: 5rem;
	}
	.influential {
		p {
			font-size: 1rem;
			
		}
		.text-column {
			margin: 11rem 0;
			width: 150%;
		}
	}
}
#CaringforOurCommunities {
	.Section_Description {
		div.columns {
			margin-bottom: -2rem;
		}
	}
	.corporate-commitment {
		.text-wrapper {
			width: 41.667%;
			padding-left: 8.333%;
			margin-top: 10rem;
		}
		.image-wrapper {
			margin-bottom: -7rem;
		}
	}
	.small-beginnings {
		background: url('/Timeline/media/kochTimeline/CaringforOurCommunities/Bio_Image_bg.jpg') no-repeat;
		background-size: cover;
		background-position: right bottom;
		div.columns {
			margin-bottom: -12rem;
		}
	}
	.lessons-learned {
		background: url('/Timeline/media/kochTimeline/CaringforOurCommunities/kids.png') no-repeat;
		background-size: cover;
		background-position: right;
		padding: 12rem 0 2rem;
		.content {
			width: 41.667%;
		}
	}
	.donors {
		padding: 5rem 0;
		background: url('/Timeline/media/kochTimeline/CaringforOurCommunities/Texture.jpg') no-repeat;
		background-size: cover;
		background-position: center;
		.background {
			min-height: 145px;
			width: 50%;
			left: 25%;
		}
		h2 {
			margin-top: 2rem;
		}
		div.columns {
			width: 42.667%;
			margin-left: 28%;	
		}
	}
	.end {
		h2 {
			line-height: 1.75;
			width: 105%;
		}
		div.columns {
			width: 41.667%;
		}
	}
}
#JoeMoeller {
	.refinery {
		.text-wrapper {
			margin: 8rem 0 -7rem;
		}
		.image-wrapper {
				margin-bottom: -7rem;
		}
	}
	.great-northern {
		margin-bottom: -2.5rem;
		.text-column {
			margin-top: 6rem;
			margin-bottom: 6rem;
		}
	}
	.background-w-video {
		padding: 0;
		.row {
			padding: 0;
		}
		p {
			font-weight: 400;
		}
		.text-column {
			margin-right: 3.75rem;
			p {
				width: auto;
				padding: 2.5rem 2rem;
				margin: 0 1rem;
				color: $gray;
				background-color: #fff;
			}
		}
		.media-column { 
			background: url('/Timeline/media/kochTimeline/JoeMoeller/Texture.png') no-repeat;
			background-size: contain;
			background-position: top;
			width: 33%;
			padding: 7rem 1rem;
			margin-top: 2.5rem;
			h2 {
				letter-spacing: 1px;
				line-height: 1.75;
			}
			p {
				color: $light-gray;
				font-size: 0.875rem;
			}
		}
		.background {
			width: 100%;
			max-width: inherit;
			height: 205px;
		}
	}
}
#EraofAcquisition {
	.Section_Description {
		div.columns {
			margin-bottom: -28rem;
		}
	}
}
