#NetherlandstoTexas {
	.quanah-bg {
		background-image: url('/Timeline/media/kochTimeline/NetherlandsToTexas/QuanahMill-Elevator.jpg');
		background-size: cover;
		background-position: center center;
	}
}