footer {
	position: fixed;
	bottom: 0;
	z-index: 100000;
	height: 65px;
	width: 100%;
	background-color: #002E5C;
	.logo {
		display: inline-block;
		float: left;
		width: 150px;
		padding: 12.5px 0;
		svg {
			display: block;
			width: 40px;
			height: 40px;
			float: right;
			margin-right: 1rem;
		}
	}
	.navigation {
		display: inline-block;
		float: left;
		vertical-align: top;
		background: url('/Timeline/media/kochTimeline/Texture-Nav.jpg') no-repeat;
		background-size: contain;
		background-position: center;
		width: calc(100% - 300px);
		height: 65px;
		p {
			margin: 0;
		}
		.chapter-nav {
			display: inline-block;
			height: 100%;
			padding: 1rem 3rem;
			p {
				line-height: 1.5;
			}
			.dates {
				font-size: 0.8rem;
				color: $koch-blue;
				font-weight: 700;
				letter-spacing: 1px;
				font-family: $museo;
				text-transform: uppercase;
			}
			.title {
				font-size: 0.875rem;
				color: $gray;
				font-weight: 700;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
	}
	.menu-toggle {
		width: 150px;
		height: 65px;
		display: inline-block;
		float: left;
		vertical-align: top;
	}
	.button-wrapper {
		position: relative;
		width: 40px;
		height: 40px;
		margin: 8px 0 14.5px;
		margin-left: 1rem;
		cursor: pointer;
		&::before {
			content: 'MENU';
			position: absolute;
			bottom: -5px;
			left: 50%;
			transform: translate(-50%);
			color: #fff;
			font-size: 0.6rem;
			font-weight: 600;
			letter-spacing: 1px;
		}
		.toggle-button {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 20px;
			height: 2px;
			background-color: #fff;
			&::after, &::before {
				position: absolute;
				content: '';
				background-color: #fff;
				height: 2px;
				width: 20px;
			}
			&::before {
				top: -5px;
			}
			&::after {
				top: 5px;
			}
			
		}
	}
	@media screen and (max-width: 39.9375em) {
		position: absolute;
		top: 0;
		bottom: initial;
		background-color: transparent;
		display: flex;
		justify-content: flex-end;
		.logo {
			display: none;
		}
		.navigation {
			// float: right;
			background-color: white;
			width: auto;
			margin-right: 1rem;
			display: flex;
			align-items: center;
		}
		.chapter-mobile {
			color: #002E5C;
			font-size: 0.75rem;
			text-transform: uppercase;
			text-align: right;
			font-family: $museo;
			font-weight: bold;
			line-height: 1.25;
		}
		.section-mobile {
			line-height: 1.25;
			text-transform: uppercase;
			text-align: right;
			font-family: $museo;
			font-weight: bold;
			color: $blue;
		}
		.chapter-title-mobile {
			
		}
		.menu-toggle {
			// float: right;
			width: 65px;
			background-color: #002E5C;
		}
	}
}
