.section-hero {
	background-position: top left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 75vh;
	position: absolute;
	top: 0;
	z-index: -1;
	@media(max(768)) {
		position: static;
		height: 40vh;
		background-size: cover;
		background-position: center;
	}
}

#NetherlandstoTexas {
	.section-hero {
		// background-position: bottom left;
		background-image: url('/Timeline/media/kochTimeline/NetherlandsToTexas/Hero.jpg');
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/NetherlandsToTexas/HeroMobile.jpg');
		}
		@media (max(600)) {
		}
	}
}
#TheThesis {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/TheThesis/Hero.jpg');
		@media (max(1024)) {
		}
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/TheThesis/Hero_Mobile.jpg');
		}
		@media (max(600)) {
		}
	}
}
#CharlesdeGanahl {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/CharlesdeGanahl/Hero.jpg');
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/CharlesdeGanahl/Hero_Mobile.jpg');
		}
		@media (max(600)) {
		}
	}
}
#ABusinessisBorn {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/ABusinessIsBorn/Hero.jpg');
		background-position: center;
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/ABusinessIsBorn/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
// STRUGGLE
#UphillBattle {
	.section-hero {
		background-position: top left;
		background-image: url('/Timeline/media/kochTimeline/UphillBattle/Hero.jpg');
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/UphillBattle/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
#NewEndeavors {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/NewEndeavors/Hero.jpg');
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/NewEndeavors/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
#SterlingVarner {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/SterlingVarner/Hero.jpg');
		background-position: top center;
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/SterlingVarner/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
#TheHomecoming {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/TheHomecoming/Hero.jpg');
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/TheHomecoming/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
//QUEST
#AggressiveExploration {
	.section-hero {
		background-position: bottom left;
		background-image: url('/Timeline/media/kochTimeline/AggressiveExploration/Hero.jpg');
		background-position: left bottom;
		@media (max-width:768px) {
			background-image: url('/Timeline/media/kochTimeline/AggressiveExploration/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
#CharlesKoch {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/CharlesKoch/Hero.jpg');
		background-position: center bottom;
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/CharlesKoch/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
#TimeofTransformation {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/TimeofTransformation/Hero.jpg');
		background-position: left top;
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/TimeofTransformation/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
#ANewFoundation {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/ANewFoundation/Hero.jpg');
		background-position: left bottom;
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/ANewFoundation/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
#EraofAcquisition {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/EraofAcquisition/hero.png');
		background-position: -5rem bottom;
		@media (max(1024)) {
		}
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/EraofAcquisition/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
#YouGetWhatYouGive {
	.section-hero {
		background-position: bottom left;
		background-image: url('/Timeline/media/kochTimeline/YouGetWhatYouGive/hero.jpg');
		background-position: left top;
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/YouGetWhatYouGive/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
#CaringforOurCommunities {
	.section-hero {
		background-position: bottom left;
		background-image: url('/Timeline/media/kochTimeline/CaringforOurCommunities/hero.jpg');
		background-position: left top;
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/YouGetWhatYouGive/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
#DavidKoch {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/DavidKoch/hero.jpg');
		background-position: center bottom;
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/DavidKoch/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
#JoeMoeller {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/JoeMoeller/hero.jpg');
		background-position: left top;
		// @media (max(1024)) {
		// }
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/JoeMoeller/Mobile_Hero.jpg');
		}
		// @media (max(600)) {
		// }
	}
}
#SafeandSound {
	.section-hero {
		background-position: bottom left;
		background-image: url('/Timeline/media/kochTimeline/SafeandSound/hero.jpg');
		background-position: left bottom;
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/SafeandSound/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
#AClearConnection {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/AClearConnection/CC_hero.jpg');
		background-position: left bottom;
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/AClearConnection/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}
#DaveRobertson {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/DaveRobertson/hero.jpg');
		background-position: left bottom;
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/DaveRobertson/Mobile_Hero.jpg');
		}
		// @media (max(600)) {
		// }
	}
}
#WhatsNext {
	.section-hero {
		background-image: url('/Timeline/media/kochTimeline/WhatsNext/hero.jpg');
		background-position: left bottom;
		@media (max(768)) {
			background-image: url('/Timeline/media/kochTimeline/WhatsNext/Mobile_Hero.jpg');
		}
		@media (max(600)) {
		}
	}
}/* END BACKGROUND IMAGES FOR HERO*/