$museo: "museo", serif;
$sans: "proxima-nova", sans-serif;

$gray: #444;
$light-gray: #B7B7B7;
$blue: #96C7D4;
$dark-blue: #6E97A2;
$koch-blue: #00A8E1;

$max : "max-width:";
@function max($pxSize) {
	@return #{$max} ($pxSize)+px;
}
$min : "min-width:";
@function min($pxSize) {
	@return #{$min} ($pxSize)+px; 
}