$museo: "museo", serif;
$sans: "proxima-nova", sans-serif;

$gray: #444;
$light-gray: #B7B7B7;
$blue: #96C7D4;
$dark-blue: #6E97A2;

$max : "max-width:";
@function max($pxSize) {
	@return #{$max} ($pxSize)+px;
}
$min : "min-width:";
@function min($pxSize) {
	@return #{$min} ($pxSize)+px; 
}

@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == medium-up {
		@media only screen and (min-width: 40em) { @content ; }
	}	
	@else if $point == medium {
		@media only screen and (min-width: 40em) and (max-width: 64em) { @content ; }
	}
	@else if $point == landscape {
		@media only screen and (min-width: 40em) and (max-width: 64em) and (orientation: landscape) { @content ; }
	}	
	@else if $point == small {
		@media only screen and (max-width: 40em) { @content ; }
	}
}