.Image_Showcase_2{
    background: #444;
    .text-option{
        visibility: hidden;
        display: none;
        opacity: 0;
        -webkit-transition: all 5.25s ease-in-out;
        -moz-transition: all 5.25s ease-in-out;
        transition: all 5.25s ease-in-out;
        height: 500px;
        position: relative;
    }
    .active{
        visibility: visible;
        display: block;
        opacity: 1;
    }
    .image-container{
        background-size: cover;
        height:100%;
        position: relative;
        .Image-Showcase-nav{
            width: 120px;
            position: absolute;
            bottom: 0;
            right: -65px;
            list-style: none;
            z-index: 100;
            li{
                margin:1rem 0;
                padding: 0;
                background: #105ea0;
            }
            img:hover{
                opacity: 0.5;
            }
        }
    }
    .text-container{
        height: 100%;
        position: relative;
        .optional-copy {
            position: absolute;
            top: 5%;
            width: 80%;
            right: 0;
        }
        .text-content{
            position: absolute;
            bottom: 10%;
            // padding: 1rem 3rem;
            width: 80%;
            right: 0;
        }
        p{
          font-size: 0.75rem;
          color: white;
        }
        .title-paragraph{
          color:#96C7D4;
          font-size: 0.825rem;
          font-weight: 500;
          font-family: $museo;
        }
        .hr{
          width: 75%;
          height: 10px;
          border-bottom: 5px solid #96C7D4;
          margin-bottom: 1rem;

        }
    }
    @media screen and (max-width: 39.9375em) {
        .Image-Showcase-nav{
            left: 0;
            li{
                display: inline-block;
            }
        }
        .text-option{
            height: auto;
        }
        .text-content{
            position: relative;
            margin-top:2rem;
        }
        .image-container{
            height: 500px;
        }
    }
}
.image-showcase-swap{
    .image-container{
        float:right;
        .Image-Showcase-nav{
            left: -81px;
        }
    }
    .text-container{
        float: left;
        .text-content, .optional-copy{
          left: 12px;
        }
    }
}