.Image_Feature_Full {
	min-height: 600px;
	.full-image {
		background-size: cover;
		background-position: center;
		min-height: 600px;
	}
	.text-column {
		margin: 3rem 1rem;
		background-color: #fff;
		padding: 2.5rem 2rem;
	}
}