.Quote_1 {
	h3 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 1.75rem;
	}
	p {
		text-align: center;
		text-transform: uppercase;
		font-size: 0.825rem;
		color: $light-gray; 
	}
}