.chapter-info {
	margin-top: 3rem;
	margin-bottom: 0.5rem;
	font-family: $museo;
	font-size: 1.1rem;
	font-weight: 300;
	@media screen and (max-width: 39.9375em) {
		padding: 0 2rem;
	}
}
.chapter-title {
	color: $blue;
	font-family: $museo;
}
.number-divider {
	margin: 0 0.25rem;
}
.section-title {
	font-family: $sans;
	text-transform: uppercase;
	font-size: 2.75rem;
	line-height: 1;
	margin: 0;
	padding-bottom: 1rem;
	border-bottom: 5px solid $blue;
	margin-bottom: 2rem;
	@media screen and (max-width: 39.9375em) {
		margin-bottom: 1rem;
		border-bottom: 0;
		padding: 0 2rem;
	}
}
.intro-image {
	width: 120%;
	transform: translateX(-10%);
	margin: 2rem 0;
	@media screen and (max-width: 39.9375em) {
		width: 100%;
		transform: none;
		padding: 0 1rem;
	}
}
.section-intro {
	margin-top: 15rem;
	@media screen and (max-width: 39.9375em) {
		margin-top: 4rem;
		border-bottom: 5px solid #96C7D4;
	}
}