.three-image{
  padding: 2rem 0;
  .verticle-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .copy{
    h2{
      color: #444444; 
      font-family: Museo; 
      font-size: 28px;  
      line-height: 31px;
    }
    p{
      color: #444444; 
      font-family: "Proxima Nova";  
      font-size: 14px;  
      line-height: 27px;
    }
  }
  .one-of-three{
    border: 1px solid #979797;
    height: 100%;
    img{
      width: 100%;
      max-height: 230px;
    }
    h4{
      margin-top: 3rem;
      margin-bottom: 1rem;
      color: #00A8E1; 
      font-family: Museo; 
      font-size: 18px;  
      line-height: 18px;  
      text-align: center;
    }
    p{
      padding: 0 1rem;
      color: #444444; 
      font-family: "Proxima Nova";  
      font-size: 14px;  
      line-height: 27px;  
      text-align: center;
    }
  }
}