.video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255,255,255,0.9);
  visibility: hidden;
  opacity: 0;
  z-index: -10000;
  &.active {
    visibility: visible;
    opacity: 1;
    z-index: 10000;
  }
  .video {
    position: absolute;
    width: 80%;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .close-button{
    font-size: 2.5rem;
    position: absolute;
    right: 3rem;
    top: 2rem;
    cursor: pointer;
    color: $dark-blue;
  } font-size: 2.5rem;
}

.Video_Feature_1 {
  .background {
    position: relative;
    min-height: 195px;
    width: 130%;
    right: 15%;
    background-size: cover;
    background-position: center center;
  }
  .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

.Video_Feature_2 {
  padding: 5rem 0;
  .video-wrapper {
    max-width: 350px;
  }
  .background {
    position: relative;
    height: 210px;
    width: 100%;   
    float: right;
    background-size: cover;
    background-position: center center;
  }
  .video-copy {
    position: relative;
    left: 10%;
  }
  .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  &.float-right {
    .background {
      left: initial;
      right: 20%;
    }
    .video-copy {
      left: initial;
      right: 10%;
    }
  }
  @media screen and (max-width: 39.9375em) {
    .background, .video-copy {
      left: initial;
      right: initial;
    }
    &.float-right {
      .background, .video-copy {
        left: initial;
        right: initial;
      }
    }
  }
}

.Video_Feature_3{
  padding: 10rem 0 5rem;
  .background {
    background-repeat:no-repeat;
    background-position:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 150px;
  }
  .video-thumb{  
    height: 150px;
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid #979797;
    background-color: #D8D8D8;
    background-repeat: round;
    background-size: cover;
    position: relative;
    margin-bottom: 3rem;
    .play-button{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }
  }
  .video-text{
    //display: none;
    max-width: 80%;
    margin: 0 auto;
    h2{
      display: block;
      //color: #444444; 
      font-family: $museo; 
      font-size: 28px;  
      line-height: 31px;
      font-weight: 300;
    }
    p{
      margin-top:1rem;
      font-family: $sans; 
      // font-size: 14px;  
      // font-weight: 600; 
      // line-height: 27px;
    }
  }
  .quote-option{
    display: block;
    max-width: 80%;
    margin: 0 auto;
    p:nth-child(1) {
      color: #6E97A2; 
      font-family: $museo; 
      font-size: 28px;  
      line-height: 38px;
    }
    p:nth-child(2) {
      color: #B7B7B7; 
      font-family: $sans; 
      font-size: 14px;  
      line-height: 17px;
    }
  }
}

.center-text{
  text-align: center;
}

.Video_Feature_4{
  .background {
    background-repeat:no-repeat;
    background-position:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  img{
    min-height: 100%;
    min-width: 100%;
  }
  .row{
    position: relative;
    padding: 2rem 0;
  }
  .content{
    position: relative;
    padding-left: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .play-button{
      position: absolute;
      left:0%;
      top: 50%;
      transform: translate(100%, -50%);
    }
    p{
      padding: 0;
      margin: 0;
      color: #444444; 
      font-family: $sans; 
      font-size: 14px;  
      line-height: 27px;
    }
    .date{
      color: #96C7D4; 
      font-family: $museo; 
      font-size: 18px;  
      line-height: 18px;
    }
    h2{
      //color: #444444; 
      font-family: $museo; 
      font-size: 28px;  
      line-height: 38px;
      margin: 0;
      margin-bottom: 1rem;
    }
  }
  @media screen and (max-width: 39.9375em) {
   .content{
    padding-left: 2rem;
    .play-button{
      position: relative;
      margin: 0 auto;
      left: initial;
      top: initial;
      transform: initial;
      margin-bottom: 0.3rem;
    }
  }
}
}

.Video_Feature_4.left {
  .content{
    float: left;
    padding-left:10rem;
  }
  .background{
    float: right;
  }
  @media screen and (max-width: 39.9375em) {
    .content{
      padding-left: 2rem;
      .play-button{
        position: relative;
        margin: 0 auto;
        left: initial;
        top: initial;
        transform: initial;
        margin-bottom: 0.3rem;
      }
    }
  }
}

.Video_Feature_4.center {
  .row{
    //position: relative;
    min-height: 400px;
  }
  .background{
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
  }
  .content {
    margin: 5rem 0;
    margin-left: 25%;
    padding: 0 5rem;
  }
  .play-button{
    position: relative;
    margin: 0 auto;
    left: initial;
    top: initial;
    transform: initial;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 39.9375em) {

  }
}

.Video_Feature_5{
  margin: 5rem 0;
  @media(max-width: 64rem) {
    margin: 1rem 0;
  }
  .background {
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    min-height: 550px;
    position: relative;
    margin-bottom: 1rem;
  }
  p{
    // color: #444444; 
    font-family: $sans;  
    // font-size: 16px;  
    // line-height: 27px;
    text-align: center;
  }
  .content{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 50%;
    left: 25%;
    h2{
      color: #00A8E1; 
      font-family: $museo; 
      font-size: 1.125rem;    
      text-align: center;
      font-weight: 500;
      margin: 0;
    }
    p {
      width: 80%;
      margin: 1rem auto;

    }
    button{
      margin-bottom: 2rem;
    }
  }
  .text-column {
    p {
      text-align: left;
    }
  }
}